<p id="notice"><%= notice %></p>

<h1>Itempedidos</h1>

<table>
  <thead>
    <tr>
      <th>Produto</th>
      <th>Pedido</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @itempedidos.each do |itempedido| %>
      <tr>
        <td><%= itempedido.Produto_id %></td>
        <td><%= itempedido.Pedido_id %></td>
        <td><%= link_to 'Show', itempedido %></td>
        <td><%= link_to 'Edit', edit_itempedido_path(itempedido) %></td>
        <td><%= link_to 'Destroy', itempedido, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Itempedido', new_itempedido_path %>
