<p id="notice"><%= notice %></p>

<p>
  <strong>Produto:</strong>
  <%= @itempedido.produto_id %>
</p>

<p>
  <strong>Pedido:</strong>
  <%= @itempedido.pedido_id %>
</p>

<%= link_to 'Editar', edit_itempedido_path(@itempedido) %> |
<%= link_to 'Voltar', itempedidos_path %>
