<p id="notice"><%= notice %></p>

<p>
  <strong>Produto:</strong>
  <%= @itempedido.Produto_id %>
</p>

<p>
  <strong>Pedido:</strong>
  <%= @itempedido.Pedido_id %>
</p>

<%= link_to 'Edit', edit_itempedido_path(@itempedido) %> |
<%= link_to 'Back', itempedidos_path %>
