<p id="notice"><%= notice %></p>

<p>
  <strong>Qantidade de pessoa:</strong>
  <%= @order.qpessoa %>
</p>

<p>
  <strong>Genero:</strong>
  <%= @order.genero %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @order.idade %>
</p>

<p>
  <strong>Data:</strong>
  <%= @order.data %>
</p>



<%= link_to 'Editar', edit_order_path(@order) %> |
<%= link_to 'Voltar', orders_path %>
<%= link_to 'Fazer novo pedido', produtos_path %>
