<p id="notice"><%= notice %></p>

<p>
  <strong>Pessoa:</strong>
  <%= @pedido.pessoa %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @pedido.sexo %>
</p>

<p>
  <strong>Data:</strong>
  <%= @pedido.data %>
</p>

<%= link_to 'Edit', edit_pedido_path(@pedido) %> |
<%= link_to 'Back', pedidos_path %>
