<p id="notice"><%= notice %></p>

<p>
  <strong>Quantidade:</strong>
  <%= @pedido.quantidade %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @pedido.idade %>
</p>

<p>
  <strong>Genero:</strong>
  <%= @pedido.genero %>
</p>

<p>
  <strong>Data:</strong>
  <%= @pedido.data %>
</p>

<%= link_to 'Edit', edit_pedido_path(@pedido) %> |
<%= link_to 'Back', pedidos_path %>
