<p id="notice"><%= notice %></p>

<h1>Produtos</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Descricao</th>
      <th>Preco</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @produtos.each do |produto| %>
      <tr>
        <td><%= produto.titulo %></td>
        <td><%= produto.descricao %></td>
        <td><%= produto.preco %></td>
        <td><%= link_to 'Mostrar', produto %></td>
        <td><%= button_to 'Adicionar ao pedido', itempedidos_path(produto_id: produto) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Pagina inicial', root_path, method: :get %>

